[Unit]
Description=Hoop Agent Service
After=network.target

[Service]
Type=simple
Environment="HOOP_KEY={{ hoop_agent_url }}"
ExecStart=/usr/local/bin/hoop start agent
Restart=on-failure
User=opstree
Group=opstree
WorkingDirectory=/home/opstree
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
